@model FGate.Data.Entities.ApiToken
@{
    ViewData["Title"] = "Eliminar Token";
}

 

<h3 class="text-danger">¿Estás seguro de que quieres eliminar este token?</h3>
<div>
    <h4>API Token</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Descripción</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Description)</dd>
        <dt class="col-sm-2">Propietario</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.OwnerName)</dd>
        <dt class="col-sm-2">Token</dt>
        <dd class="col-sm-10"><code>@Html.DisplayFor(model => model.TokenValue)</code></dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TokenId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la Lista</a>
    </form>
</div>