**/appsettings.Development.json
**/secrets.json
.env
user-jwts/

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.csproj.user

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.DS_Store
Thumbs.db

[Bb]in/
[Oo]bj/
artifacts/

[Ll]og/
[Ll]ogs/
*.log
*.tmp
*.cache

**/[Pp]ackages/*
!**/[Pp]ackages/build/

node_modules/
wwwroot/lib/

Properties/PublishProfiles/*.pubxml
Properties/PublishProfiles/*.pubxml.user

*.mdf
*.ldf

reporte.md
filestructure.txt

TestResult/
TestResults/
[Tt]est[Rr]esult*/
**/coverage.cobertura.xml
**/coverage.json
