@model FGate.Data.Entities.WafRule
@{
    ViewData["Title"] = "Editar Regla WAF";
}

 
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit">
            <input type="hidden" asp-for="RuleId" />
            <input type="hidden" asp-for="CreatedAt" />
            @await Html.PartialAsync("_WafRuleForm")
            <div class="form-group mt-4">
                <input type="submit" value="Guardar Cambios" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>