@{
    ViewData["Title"] = "Error";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Ocurrió un error al procesar tu solicitud.</h2>
<p>
    Por favor, intenta volver a la página anterior o contacta al administrador del sistema si el problema persiste.
</p>